{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "importOrder": [
    "^(react)$",
    "^(react-dom)$",
    "<THIRD_PARTY_MODULES>",
    "@/components/(.*)$",
    "@/(.*)$",
    "^[./]"
  ]
}
