:root {
  --editor-padding: 20px;
  --editor-font-size: 16px;
}

.editor-wrapper,
.editor-inner {
  position: relative;
  background-color: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  .editor-wrapper,
  .editor-inner {
    background-color: var(--color-stone-800);
  }
}

.editor-root {
  padding: 0 var(--editor-padding);
  outline: none;
  font-size: var(--editor-font-size);
}

.editor-title {
  padding: 0 var(--editor-padding);
}

.editor-code {
  border: 1px solid var(--color-red-200) !important;
}

.editor-placeholder {
  position: absolute;
  margin-top: -26px;
  font-style: italic;
  color: var(--color-gray-500);
  font-size: var(--editor-font-size);
  text-overflow: ellipsis;
  pointer-events: none;
  padding-left: calc(var(--editor-padding) + 4px);
  z-index: 2;
}

.editor-paragraph {
  margin: 2px 0;
  line-height: 26px;
}

.editor-input {
  font-size: 16px;
  outline: none;
  font-weight: 400;
  color: var(--color-gray-800);
}

.editor-text-bold {
  font-weight: 700;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-overflowed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.editor-text-highlight {
  background-color: var(--color-yellow-100);
  box-shadow: 0 2px 0 0 var(--color-yellow-200);
}

.editor-text-capitalize {
  text-transform: capitalize;
}

.editor-text-uppercase {
  text-transform: uppercase;
}

.editor-text-lowercase {
  text-transform: lowercase;
}

.editor-text-superscript {
  vertical-align: super;
}

.editor-text-subscript {
  vertical-align: sub;
}

.editor-hashtag {
  padding: 2px 3px;
  border-radius: 4px;
  background-color: var(--color-blue-100);
  color: var(--color-blue-800);
  box-shadow: 0 0 0 1px var(--color-blue-200);
}

.editor-heading-h1 {
  font-size: 30px;
  font-weight: 700;
}

.editor-heading-h2 {
  font-size: 24px;
  font-weight: 700;
}

.editor-heading-h3 {
  font-size: 20px;
  font-weight: 700;
}

.editor-heading-h4 {
  font-size: 16px;
  font-weight: 700;
}

.editor-heading-h5 {
  font-size: 14px;
  font-weight: 700;
}

.editor-quote {
  border-left: 2.5px solid var(--color-gray-600);
  padding: 4px 0;
  padding-left: 10px;
}

.editor-link {
  color: var(--color-blue-500);
  cursor: pointer;
}

.editor-link:hover {
  text-decoration: underline;
}

.editor-block-cursor {
  outline: 1px solid red;
  display: block;
  pointer-events: none;
  position: absolute;
}

.editor-block-cursor::after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  animation: CursorBlink 1.1s steps(2, start) infinite;
}

@keyframes CursorBlink {
  to {
    visibility: hidden;
  }
}

/* lists */
.editor-ol-1 {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}
.editor-ol-2 {
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: outside;
}
.editor-ol-3 {
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: outside;
}
.editor-ol-4 {
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: outside;
}
.editor-ol-5 {
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: outside;
}
.editor-ul {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}
.editor-list-item {
  margin: 0.24rem 32px;
  line-height: 24px;
}
.editor-list-item-checked,
.editor-list-item-unchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.editor-list-item-checked,
.editor-list-item-unchecked span {
  line-height: 24px;
}

.editor-list-item-checked {
  text-decoration: line-through;
  color: var(--color-gray-500);
}

.editor-list-item-unchecked:before,
.editor-list-item-checked:before {
  content: '';
  width: 18px;
  height: 18px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}

.editor-list-item-unchecked[dir='rtl']:before,
.editor-list-item-checked[dir='rtl']:before {
  left: auto;
  right: 0;
}

.editor-list-item-unchecked:focus:before,
.editor-list-item-checked:focus:before {
  box-shadow: 0 0 0 3px var(--color-blue-200);
  border-radius: var(--radius-md);
  border-color: var(--color-blue-500);
}
.editor-list-item-unchecked:before {
  border: 1px solid var(--color-gray-300);
  border-radius: var(--radius-md);
}

.editor-list-item-checked:before {
  border: 1px solid var(--color-blue-500);
  border-radius: var(--radius-md);
  background-color: var(--color-blue-500);
  background-repeat: no-repeat;
  box-shadow: 0 0 0 3px var(--color-blue-200);
}

.editor-list-item-checked:before {
  background-repeat: no-repeat;
  background-color: var(--color-blue-500);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
.editor-nested-list-item {
  list-style-type: none;
}
.editor-nested-list-item:before,
.editor-nested-list-item:after {
  display: none;
}

/* end of lists */

:root {
  --editor-input-padding: 20px;
}

[type='page-break'] {
  position: relative;
  display: block;
  overflow: unset;
  margin-left: calc(var(--editor-input-padding, 28px) * -1);
  margin-top: var(--editor-input-padding, 28px);
  margin-bottom: var(--editor-input-padding, 28px);
  border: none;
  border-top: 1px dashed var(--color-neutral-200);
  border-bottom: 1px dashed var(--color-neutral-200);
}

[type='page-break'] .page-break-svg {
  position: absolute;
  top: 50%;
  left: calc(var(--editor-input-padding, 28px));
  transform: translateY(-50%);
  color: var(--color-neutral-600);
}

.selected[type='page-break'] {
  border-color: var(--color-blue-500);
}

.selected[type='page-break'] .page-break-svg {
  opacity: 1;
  color: var(--color-blue-500);
}

.selected[type='page-break']::before {
  opacity: 1;
}

/* draggable block */
.draggable-block-menu {
  border-radius: 4px;
  padding: 2px 1px;
  cursor: grab;
  opacity: 0;
  position: absolute;
  left: -10px;
  top: 0;
  will-change: transform;
}

.draggable-block-menu .icon {
  width: 18px;
  height: 18px;
}

.draggable-block-menu:active {
  cursor: grabbing;
}

.draggable-block-menu:hover {
  background-color: var(--color-gray-100);
  box-shadow: 0 0 0 1px var(--color-gray-200);
}

.draggable-block-target-line {
  pointer-events: none;
  background: var(--color-orange-500);
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  will-change: transform;
}

.draggable-element {
  transform: translateZ(0);
  background-color: var(--color-orange-50);
  border: none;
  border-radius: var(--radius-md);
  box-shadow: 0 0 0 1px var(--color-orange-100);
}

.node-placeholder:has(br):not(:has(span))::before {
  position: absolute;
  content: attr(data-placeholder);
  color: var(--color-gray-500);
  padding-left: 4px;
  font-style: italic;
}
