.editor-input {
  color: var(--text-primary);
  font-family: var(--current-font);
}

.editor-code {
  background-color: var(--hover-background);
  box-shadow: 0 0 0 1px var(--main-border);
  display: block;
  padding: 10px 16px;
  line-height: 1.2;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  white-space: pre;
  overflow-x: auto;
  position: relative;
  border-radius: var(--lg-radii);
}

// start inline formatting
.editor-text-bold {
  font-weight: 600;
}

.editor-text-italic {
  font-style: italic;
  font-family: var(--italic-font);
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  box-shadow: 0 0 0 1px var(--main-border);
  border-radius: var(--sm-radii);
  padding: 1px 4px;
  background-color: var(--hover-background);
}
// end of inline formatting

.editor-link {
  color: var(--blue-10);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.editor-paragraph {
  margin: 0;
  position: relative;
  margin-bottom: 8px;
}

.editor-heading-h1 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.editor-heading-h2 {
  margin: 10px 0;
}

.editor-heading-h3 {
  margin: 10px 0;
}

.editor-quote {
  border-left: 4px solid var(--main-border);
  padding: 8px 0;
  padding-left: 14px;
  font-style: italic;
}

.editor-list-ol,
.editor-list-ul {
  padding: 0;
  margin: 0;
}

.editor-listitem {
  margin: 8px 32px 8px 26px;

  &::marker {
    color: var(--text-secondary);
  }
}

.editor-nested-listitem {
  list-style-type: none;
}

.editor-listItemChecked,
.editor-listItemUnchecked {
  position: relative;
  cursor: pointer;
  margin-left: 6px;
  list-style-type: none;
  padding-left: 24px;
  outline: none;

  span {
    line-height: 1;
  }

  &::before {
    content: '';
    width: 14px;
    height: 14px;
    left: 0;
    cursor: pointer;
    position: absolute;
    top: 4px;
    border-radius: var(--xs-radii);
  }
}

.editor-listItemChecked {
  span {
    text-decoration: line-through;
    color: var(--text-secondary);
  }
}

.editor-listItemChecked::before {
  box-shadow: 0 0 0 1.5px var(--primary-color);
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.editor-listItemUnchecked::before {
  box-shadow: 0 0 0 1.5px var(--dark-border);
}

.editor-nested-listitem {
  list-style-type: none;
}
.editor-nested-listitem:before,
.editor-nested-listitem:after {
  display: none;
}

.editor-placeholder,
.daily-note-placeholder {
  color: var(--text-secondary);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  left: 0;
  top: 0;
  font-size: 16px;
  line-height: 1;
  pointer-events: none;
}

.editor-placeholder {
  top: 183px;
  left: 80px;
}
