.component-picker-menu {
  width: 230px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--main-border);

  li {
    display: flex;
    justify-content: center;
  }
}

// Floating Menu
.floating-menu {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  background-color: var(--panel-background);
  border: 1px solid var(--main-border);
  padding: 4px;
  border-radius: 10px;
  display: flex;
  gap: 4px;

  &__item {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;

    &.item-active {
      background-color: var(--active-item-state);
    }

    &:hover {
      background-color: var(--hover-background);
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .floating-link-input {
    display: flex;
    align-items: center;
    gap: 4px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: var(--hover-background);
      }
    }
    .vr-divider {
      width: 1px;
      background-color: var(--main-border);
      height: 80%;
      margin: 0 2px;
    }

    input {
      padding: 0 4px;
      height: 100%;
      font-size: 14px;
      background-color: var(--panel-background);
    }
  }
}

// typehead STYLING
.typeahead-popover ul::-webkit-scrollbar {
  display: none;
}

.typeahead-popover ul li.selected {
  background: #eee;
}
.typeahead-popover {
  background: var(--background-floating);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 12px;
  margin-top: 25px;

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    li {
      margin: 4px 0;
      padding: 4px;
      color: var(--background-inverse-floating);
      cursor: pointer;
      line-height: 16px;
      font-size: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      flex-direction: row;
      flex-shrink: 0;
      background: var(--background-floating);
      border-radius: 8px;
      border: 1px solid transparent;

      &[aria-selected='true'] {
        background-color: var(--background-primary);
        color: var(--background-inverse-primary);
      }

      &:hover {
        background-color: var(--background-primary);
        color: var(--background-inverse-primary);
      }

      &::active {
        background-color: #c9c9cf;
      }

      .icon {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
      }
    }
  }
}

// entry header styling
.entry-header {
  margin-bottom: 20px;

  .entry-input {
    margin-bottom: 20px;
    input {
      all: unset;
      width: 100%;
      font-size: 30px;
      font-weight: 600;
      line-height: 1;
    }
  }

  .tags {
    margin-top: 5px;

    &-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 3px;

      .tag {
        p {
          font-weight: 500;
          text-transform: lowercase;
          padding: 2px 8px;
          font-size: 14px;
          background-color: var(--background-tertiary);
          border-radius: 8px;
          border: 1.5px solid var(--background-secondary);
        }
      }
    }
  }
}

.editor-wrapper {
  overflow-y: scroll;
  position: relative;
  padding: 40px 80px;
  height: calc(100vh - var(--page-title-height));
}

.editor-placeholder {
  position: absolute;
  text-overflow: ellipsis;
  // top: 197px;
  top: 187px;
  left: 80px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
  color: var(--text-tertiary);
}
