.floating-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
  will-change: transform;
}
