.page-titlebar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);
  z-index: 2;
  border-bottom: 1px solid var(--main-border);
  color: var(--text-primary);
  height: var(--page-title-height);

  &.side-opened {
    p {
      margin-left: auto;
    }
  }

  .sidebar-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--main-border);
    padding: 0 12px;
    margin-right: auto;
    height: 100%;
  }

  p {
    font-size: 15px;
    margin-right: auto;
  }

  .sidebar-toggle {
    margin-right: auto;
  }
}
