body {
  position: relative;
}

* {
  // outline: 1px dotted red;
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

div[data-tauri-drag-region] {
  height: 40px;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #f4f6f8;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .search-button {
    display: flex;
    align-items: center;
    margin-right: 24px;
    cursor: pointer;
    color: #6b7280;
    margin-top: 4px;
    padding: 6px 10px;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #d1d5db;
    }

    p {
      font-weight: 500;
      padding-right: 8px;
    }

    .shortcut-button {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #6b7280;
      font-size: 13px;
      border-radius: 6px;
    }

    span {
      margin: 0 2px;
    }
  }
}

.page {
  padding-top: 30px;
  width: 100%;
  position: relative;
}

.page-container {
  background-color: #f4f6f8;
  padding: 8px;
  height: calc(100vh - 40px);
}

#root,
body {
  position: relative;
  overflow: hidden;
}

.two-column-container {
  display: flex;
  margin-top: auto;
  width: 100%;
  gap: 8px;
  height: 100%;

  .page-wrapper {
    flex: 1;
    position: relative;

    &__withborder {
      background-color: white;
      border: 1px solid #e5e7eb;
      border-radius: 8px;
      overflow-y: scroll;
    }
  }

  .sidebar-container {
    height: 100%;
    flex-shrink: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
  }

  .editor-wrapper {
    overflow-y: scroll;
    position: relative;
    padding: 40px 20px;

    .title-input {
      display: flex;
      width: 100%;
      border-radius: 0;
      padding: 0;
      font-size: 22px;
      font-weight: 800;
      padding: 4px;
      margin-bottom: 10px;
    }
  }
}

[contenteditable] {
  outline: 0px solid transparent;
}
