// default/light theme
:root {
  --main-background: #f4f6f8;
  --panel-background: white;
  --main-border: #e2e8f0;
  --darker-border: #6b7280;
  --base-text-color: black;
  --subtitle-text-color: #4b5563;
  --hover-background: #e5e7eb;
  --active-item-state: #d1d5db;
  --primary-color: #fc521f;
}

html[data-theme='night'] {
  --main-background: rgb(32, 32, 32);
  --panel-background: rgb(25, 25, 25);
  --main-border: rgb(155, 155, 155, 0.3);
  --darker-border: rgb(32, 32, 32);
  --base-text-color: white;
  --hover-background: rgb(32, 32, 32);
  --subtitle-text-color: #a1a1aa;
  --active-item-state: #71717a;
  --primary-color: #fc521f;
}

body {
  position: relative;
}

* {
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

div[data-tauri-drag-region] {
  height: 40px;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--main-background);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .search-button {
    display: flex;
    align-items: center;
    margin-right: 24px;
    cursor: pointer;
    color: var(--darker-border);
    margin-top: 4px;
    padding: 6px 10px;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #d1d5db;
    }

    p {
      font-weight: 500;
      padding-right: 8px;
    }

    .shortcut-button {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.5px solid var(--darker-border);
      font-size: 13px;
      border-radius: 6px;
    }

    span {
      margin: 0 2px;
    }
  }
}

.page {
  padding-top: 30px;
  width: 100%;
  position: relative;
}

.page-container {
  background-color: var(--main-background);
  padding: 8px;
  height: calc(100vh - 40px);
}

#root,
body {
  position: relative;
  overflow: hidden;
}

.two-column-container {
  display: flex;
  margin-top: auto;
  width: 100%;
  gap: 8px;
  height: 100%;

  .page-wrapper {
    flex: 1;
    position: relative;

    &__withborder {
      background-color: var(--panel-background);
      border: 1.5px solid var(--main-border);
      border-radius: 8px;
      overflow-y: scroll;
    }
  }

  .sidebar-container {
    height: 100%;
    flex-shrink: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--panel-background);
    border-radius: 8px;
    border: 1.5px solid var(--main-border);
  }

  .editor-wrapper {
    overflow-y: scroll;
    position: relative;
    padding: 40px 20px;

    .title-input {
      display: flex;
      width: 100%;
      border-radius: 0;
      padding: 0;
      font-size: 22px;
      font-weight: 800;
      padding: 4px;
      margin-bottom: 10px;
      background-color: var(--panel-background);
      color: var(--base-text-color);
    }
  }
}

[contenteditable] {
  outline: 0px solid transparent;
}
