body {
  position: relative;
}

div[data-tauri-drag-region] {
  height: 30px;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #f4f6f8;
  // background: linear-gradient(#f4f6f8, 80%, transparent);
}

.page {
  padding-top: 30px;
  width: 100%;
  position: relative;
}

.page-container {
  background-color: #f4f6f8;
  padding: 8px;
  height: calc(100vh - 30px);
}

#root,
body {
  position: relative;
  overflow: hidden;
}

.two-column-container {
  display: flex;
  margin-top: auto;
  width: 100%;
  gap: 8px;
  height: 100%;

  .page-wrapper {
    flex: 1;
    overflow-y: scroll;
    position: relative;
    // background-color: white;
    // border-radius: 8px;
    // border: 1px solid #e5e7eb;
  }

  .sidebar-container {
    height: 100%;
    flex-shrink: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
  }

  .editor-wrapper {
    overflow-y: scroll;
    position: relative;
    padding: 40px 20px;

    .title-input {
      display: flex;
      width: 100%;
      border-radius: 0;
      padding: 0;
      font-size: 22px;
      font-weight: 800;
      padding: 4px;
      margin-bottom: 10px;
    }
  }
}

[contenteditable] {
  outline: 0px solid transparent;
}
