.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  bottom: 0;
  width: 100%;

  // * {
  //   outline: 1px dotted red;
  // }

  &-entries {
    width: 100%;
    padding: 10px;
    overflow: scroll;
    transition: border-color 0.2s ease-in-out;
    border-top: 1.5px solid transparent;

    &__withborder {
      border-color: var(--main-border);
      // border-top: 1.5px solid var(--main-border);
    }
  }

  &-toggle {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    width: 32px;
    height: 32px;
  }

  .header-section {
    padding: 10px;
  }

  .section {
    margin-top: 30px;
    width: 100%;

    .route {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in;
      padding: 4px 12px;
      border-radius: 8px;

      &:hover {
        background-color: var(--hover-background);
        box-shadow: inset 0 0 0 1.5px var(--hover-shadow);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
      }

      &-text {
        font-weight: 600;
        font-size: 14px;
        color: var(--base-text-color);
      }
    }

    .header {
      display: flex;
      align-items: center;
      padding: 8px 12px;

      p.title {
        font-size: 13px;
        font-weight: 600;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 2px;

        &:hover {
          background-color: #d4d4d4;
        }
      }
    }

    .entries {
      display: flex;
      flex-direction: column;

      ul,
      li {
        list-style: none;
        position: relative;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
      }

      .divider {
        height: 1px;
        background-color: var(--main-border);
      }

      .entry {
        transition: all 0.3sec ease;
        padding: 4px 12px;
        border-radius: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 8px;

        &:hover {
          background-color: var(--hover-background);
          box-shadow: inset 0 0 0 1.5px var(--hover-shadow);

          .more-options {
            visibility: visible;

            &:hover {
              background-color: var(--hover-background);
            }
          }
        }

        &[data-state='open'] {
          background-color: var(--hover-background);
        }

        &.active-entry {
          background-color: var(--active-item-state);

          p {
            color: #030712;
          }

          &:hover {
            background-color: var(--hover-background);
            box-shadow: inset 0 0 2px 2px var(--hover-shadow);

            p {
              color: var(--base-text-color);
            }
          }
        }

        .icon {
          display: flex;
          align-items: center;
        }

        .more-options {
          margin-left: auto;
          visibility: hidden;
          border-radius: 4px;
          padding: 2px;

          &[data-state='open'] {
            background-color: #f4f4f5;
            visibility: visible;
            background-color: var(--hover-background);
          }
        }

        p {
          font-size: 13px;
          font-weight: 500;
          color: var(--base-text-color);
        }

        p.date {
          font-size: 12px;
        }
      }
    }
  }

  &-footer {
    width: 300px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1.5px solid var(--main-border);

    p.version {
      font-weight: 600;
      font-size: 14px;
      color: var(--base-text-color);
      margin-left: 12px;
    }

    .theme-toggle {
      padding: 2px 8px;
      border-radius: 4px;
      margin-right: 12px;
      background-color: var(--main-background);
      cursor: pointer;
      border: 1.5px solid var(--main-border);
      box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

      &:hover {
        background-color: var(--main-background);
      }

      p {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

.PopoverContent {
  border-radius: 8px;
  padding: 6px;
  width: 250px;
  background-color: var(--panel-background);
  box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  border: 1.5px solid var(--main-border);

  .hr-divider {
    margin-top: 4px;
  }

  .entry-details {
    padding: 5px 8px;

    p {
      font-size: 12px;
      margin: 2px 0;
      color: #71717a;
    }
  }

  .option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    padding: 5px 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: transparent;

    &:hover {
      background-color: var(--hover-background);
    }

    &__active {
      background-color: var(--primary-color);

      &:hover {
        background-color: var(--primary-color);
      }
    }

    &__disabled {
      cursor: auto !important;
      pointer-events: none;

      p {
        color: #71717a;
      }

      .option-icon {
        svg {
          path,
          line,
          polyline,
          rect {
            stroke: #71717a;
          }
        }
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    p {
      font-size: 15px;
    }
  }
}
