@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'BerkeleyMonoVariable';
  src: url('../assets/fonts/BerkeleyMonoVariable-Italic.woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BerkeleyMonoVariable';
  src: url('../assets/fonts/BerkeleyMonoVariable-Italic.woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BerkeleyMonoVariable';
  src: url('../assets/fonts/BerkeleyMonoVariable-Regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit';
  src: url('../assets/fonts/Favorit-Regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit';
  src: url('../assets/fonts/Favorit-Light.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit';
  src: url('../assets/fonts/Favorit-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit';
  src: url('../assets/fonts/Favorit-Bold.woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit';
  src: url('../assets/fonts/Favorit-BoldExtended.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
