:root {
  // color tokens from radix-colors

  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-2-alpha: #f9f9f9f7;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbbbbb;
  --gray-9: #8d8d8d;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #202020;

  --gray-dark-1: #111111;
  --gray-dark-2: #191919;
  --gray-dark-3: #222222;
  --gray-dark-4: #2a2a2a;
  --gray-dark-5: #313131;
  --gray-dark-6: #3a3a3a;
  --gray-dark-7: #484848;
  --gray-dark-8: #606060;
  --gray-dark-9: #6e6e6e;
  --gray-dark-10: #7b7b7b;
  --gray-dark-11: #b4b4b4;
  --gray-dark-12: #eeeeee;

  --blue-1: #fbfdff;
  --blue-2: #f4faff;
  --blue-3: #e6f4fe;
  --blue-4: #d5efff;
  --blue-5: #c2e5ff;
  --blue-6: #acd8fc;
  --blue-7: #8ec8f6;
  --blue-8: #5eb1ef;
  --blue-9: #0090ff;
  --blue-10: #0588f0;
  --blue-11: #0d74ce;
  --blue-12: #113264;

  --primary-color: #fc521f;

  // miscs
  --percentage-completed: 0%;

  // backgrounds
  --main-background: var(--gray-2);
  --alpha-main-background: var(--gray-2-alpha);
  --panel-background: var(--gray-1);
  --hover-background: var(--gray-3);
  --active-background: var(--gray-4);
  --popover-background: var(--gray-1);

  // borders
  --main-border: var(--gray-5);
  --dark-border: var(--gray-6);
  --darker-border: var(--gray-7);
  --popover-border: var(--gray-5);

  // text
  --text-primary: var(--gray-12);
  --text-secondary: var(--gray-11);
  --text-tertiary: var(--gray-10);

  // border-radii
  --xs-radii: 2px;
  --sm-radii: 4px;
  --md-radii: 6px;
  --lg-radii: 8px;
  --xl-radii: 12px;

  --drag-region-height: 30px;
  --main-box-shadow: 0 0.25rem 0.375rem -0.125rem #0003, 0 0 0 1px var(--main-border);
  --lg-box-shadow: 0 0.75rem 1.25rem -0.5rem #0000003d, 0 0 0 2px var(--main-border);
  --page-title-height: 40px;

  // fonts
  --code-font: 'BerkeleyMonoVariable';
  --instrument-sans-font: 'Instrument Sans';
  --inter-font: 'Inter';
  --geist-font: 'Geist';
  --satoshi-font: 'Satoshi';
  --geist-mono-font: 'Geist-Mono';
  --code-font: var(--geist-mono-font), Menlo, Consolas, Monaco, monospace;
  --italic-font: system-ui, -apple-system;
}

html[data-theme='night'] {
  --main-background: var(--gray-dark-2);
  --panel-background: var(--gray-dark-1);
  --hover-background: var(--gray-dark-3);
  --active-background: var(--gray-dark-4);
  --popover-background: var(--gray-dark-4);
  --alpha-main-background: var(--gray-dark-2);

  // borders
  --main-border: var(--gray-dark-5);
  --dark-border: var(--gray-dark-6);
  --darker-border: var(--gray-dark-7);
  --popover-border: var(--gray-dark-6);

  // text
  --text-primary: var(--gray-dark-12);
  --text-secondary: var(--gray-dark-10);
  --text-tertiary: var(--gray-dark-9);
}

* {
  margin: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--geist-font), var(--instrument-sans-font), var(--inter-font), system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: var(--base-text-color);

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'zero', 'tnum', 'ss05';
  -webkit-text-size-adjust: 100%;
}

#root {
  border-radius: 10px;
}
#root,
body {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 0;
}

[contenteditable] {
  outline: 0px solid transparent;
}

ol[data-sonner-toaster='true'] {
  --width: 100px;
}

// default popover container styling
.popover-container {
  box-shadow: 0 0.25rem 0.375rem -0.125rem #0003, 0 0 0 1px var(--popover-border);
  background: var(--popover-background);
}

// select changes

.ibis-select {
  &__control {
    border-color: var(--main-border) !important;
    border-width: 1.5px !important;
    background-color: var(--main-background) !important;
    border-radius: var(--md-radii) !important;
  }

  &__multi-value {
    background-color: var(--panel-background) !important;
    box-shadow: 0 0 0 1.5px var(--main-border);
    border-radius: var(--sm-radii) !important;
    font-weight: 500;

    &__label {
      color: var(--text-primary) !important;
    }
  }

  &__value-container {
    padding-left: 3px !important;
  }

  &__menu {
    background-color: var(--popover-background) !important;
    overflow: hidden !important;
  }

  &__menu-list {
    background-color: var(--popover-background) !important;
  }

  &__input-container {
    color: var(--text-primary);
    font-family: var(--geist-font);
    font-size: 15px;
  }

  &__option {
    background-color: var(--popover-background) !important;
    border: 1px solid transparent;
    border-left: 0px;
    border-right: 0px;

    &:hover {
      background-color: var(--hover-background) !important;
      border-color: var(--main-border);
    }
  }
}
