:root {
  // colors
  --main-background: #f4f4f5;
  --panel-background: white;
  --sidebar-background: #f5f5f4;
  --main-border: #e7e5e4;
  --darker-border: #6b7280;
  --base-text-color: #292524;
  --subtitle-text-color: #4b5563;
  --hover-background: #e5e7eb;
  --active-item-state: #d1d5db;
  --primary-color: #fc521f;
  --hover-shadow: #d1d5db;

  --drag-region-height: 30px;
  --main-box-shadow: 0 0.25rem 0.375rem -0.125rem #0003, 0 0 0 1px var(--main-border);
  --lg-box-shadow: 0 0.75rem 1.25rem -0.5rem #0000003d, 0 0 0 2px var(--main-border);

  // fonts
  --code-font: 'BerkeleyMonoVariable';
  --favorit-font: 'Favorit';
  --instrument-sans-font: 'Instrument Sans';
  --inter-font: 'Inter';
  --geist-font: 'Geist';
}

html[data-theme='night'] {
  --main-background: rgb(32, 32, 32);
  --panel-background: rgb(25, 25, 25);
  --sidebar-background: rgb(25, 25, 25, 0.4);
  --main-border: rgb(155, 155, 155, 0.3);
  --base-text-color: #d4d4d8;
  --hover-background: rgb(32, 32, 32);
  --subtitle-text-color: #a1a1aa;
  --active-item-state: #737373;
  --primary-color: #fc521f;
  --hover-shadow: rgb(155, 155, 155, 0.2);
}

* {
  margin: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

html {
  line-height: 1.5;
  font-weight: 500;
  font-family: var(--geist-font), var(--instrument-sans-font), var(--inter-font), system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: var(--base-text-color);

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'zero', 'tnum', 'ss05';
  -webkit-text-size-adjust: 100%;
}

#root,
body {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 0;
}

[contenteditable] {
  outline: 0px solid transparent;
}

ol[data-sonner-toaster='true'] {
  --width: 100px;
}

// start layout styling
.page {
  width: 100%;
  position: relative;
}

.page-container {
  background-color: var(--main-background);
  height: 100vh;

  .layout-divider {
    background-color: #e7e5e4;
    height: 100vh;
    width: 1px;
    transition: all 0.3s ease-in;

    &:hover {
      padding: 0 2px;
    }
  }
}

.two-column-container {
  display: flex;
  margin-top: auto;
  width: 100%;
  height: 100%;

  .page-wrapper {
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: white;
    transition: all 0.3s ease-in-out;

    &__withborder {
      overflow-y: scroll;
    }
  }

  .ruler {
    width: 1px;
    background-color: var(--main-border);
    align-self: stretch;
    cursor: move;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--primary-color);
    }
  }

  .sidebar-container {
    height: 100%;
    flex-shrink: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--sidebar-background);
    width: 270px;
  }

  .editor-wrapper {
    overflow-y: scroll;
    position: relative;
    padding: 40px 80px;
  }
}

// end layout styling

.PopoverContent:focus {
  outline: none;
  box-shadow: var(--main-box-shadow);
  // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.PopoverContent[data-state='open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.PopoverContent[data-state='open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.PopoverContent[data-state='open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.PopoverContent[data-state='open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.PopoverArrow {
  fill: var(--panel-background);
}

.PopoverClose {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 5px;
  right: 5px;
}
.PopoverClose:hover {
  background-color: var(--violet-4);
}
.PopoverClose:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// trash page layout styling
// keeping here for now
.trash-page {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  outline: 1px solid;

  .entry {
    display: flex;
    flex: 1;
    outline: 1px solid;
    width: 100%;
    align-items: center;
    padding: 5px 0;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7eb;

    p {
      margin-right: auto;
    }

    button {
      margin-left: 5px;
    }
  }
}

// end of trash page layout styling
