* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Favorit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 22px;
  font-weight: 500;
  color: var(--base-text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'zero', 'tnum', 'ss05';
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100%;
  margin: 0;
}

.container {
  margin: 0;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
}
button {
  border-radius: 4px;
  border: 2px solid #4b5563;
  color: var(--base-text-color);
}

.shadow-button {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  background-color: var(--panel-background);
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

.full-center {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.empty-state-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.editor-container {
  overflow-y: scroll;
  position: relative;
  height: 100vh;
}

.editor-input,
.daily-editor-wrapper {
  resize: none;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--panel-background);
  padding: 10px;
}

.save-button {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.save-button {
  background-color: #fc521f;
  color: var(--panel-background);
}

.contentlist-container {
  padding: 5rem;
}

.contentlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
}

.contentlist-item > .title {
  margin-right: auto;
}

.contentlist-item > .delete-btn {
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
  background-color: #fc521f;
  color: var(--panel-background);
}

.hr-divider {
  width: 100%;
  height: 1.5px;
  background-color: var(--main-border);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > button {
  padding: 10px;
  font-size: 15px;
}

.createdAt,
.save-status {
  font-size: 14px;
  color: hsl(0, 0%, 20.5%);
}
.saved-status {
  margin-left: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  padding: 6px 12px;
  right: 0;
  top: 100px;
  margin: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--main-border);
  border-radius: 4px;
  z-index: 99999;

  span {
    color: hsl(0, 0%, 13.6%);
    font-weight: 600;
  }
}

// typehead stuff

.typeahead-popover ul::-webkit-scrollbar {
  display: none;
}

.typeahead-popover ul li.selected {
  background: #eee;
}
.typeahead-popover {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 25px;

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    li {
      margin: 4px 0;
      padding: 4px;
      color: #050505;
      cursor: pointer;
      line-height: 16px;
      font-size: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      flex-direction: row;
      flex-shrink: 0;
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid transparent;

      &[aria-selected='true'] {
        background-color: #f3f4f6;
      }

      &:hover {
        background-color: #f3f4f6;
      }

      &::active {
        background-color: red;
      }

      .icon {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid var(--main-border);
      }
    }
  }
}

.component-picker-menu {
  width: 230px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--main-border);

  li {
    display: flex;
    justify-content: center;
  }
}

// Floating Menu
.floating-menu {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  background-color: var(--panel-background);
  border: 1px solid var(--main-border);
  padding: 4px;
  border-radius: 4px;
  display: flex;
  gap: 4px;

  &__item {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;

    &.item-active {
      background-color: #e5e7eb;
    }

    &:hover {
      background-color: #f9fafb;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .floating-link-input {
    display: flex;
    align-items: center;
    gap: 4px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      cursor: pointer;

      &:hover {
        background-color: #f9fafb;
      }
    }
    .vr-divider {
      width: 1px;
      background-color: var(--main-border);
      height: 80%;
      margin: 0 2px;
    }

    input {
      padding: 0 4px;
      height: 100%;
      font-size: 14px;
    }
  }
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  bottom: 0;
  width: 100%;

  &-toggle {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    width: 32px;
    height: 32px;
  }

  .header-section {
    margin-bottom: 20px;
  }

  .section {
    margin-top: 30px;
    padding: 0 0px;
    width: 100%;

    .route {
      display: flex;
      align-items: center;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all 0.3sec ease-in;
      padding: 2px 12px;

      &:hover {
        background-color: var(--hover-background);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
      }

      &-text {
        font-weight: 600;
        font-size: 14px;
        color: var(--base-text-color);
      }
    }

    .header {
      display: flex;
      align-items: center;
      padding: 8px 12px;

      p.title {
        font-size: 13px;
        font-weight: 600;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 2px;

        &:hover {
          background-color: #d4d4d4;
        }
      }
    }

    .entries {
      display: flex;
      flex-direction: column;

      ul,
      li {
        list-style: none;
        position: relative;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
      }

      .divider {
        height: 1px;
        background-color: var(--main-border);
      }

      .entry {
        transition: all 0.3sec ease;
        padding: 4px 12px;
        border-radius: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;
        border-bottom: 0.5px solid var(--main-border);

        &[data-state='open'] {
          background-color: var(--hover-background);
        }

        &.active-entry {
          background-color: var(--active-item-state);

          p {
            color: #030712;
          }

          &:hover {
            background-color: var(--active-item-state);
          }
        }

        .icon {
          display: flex;
          align-items: center;
        }

        .more-options {
          margin-left: auto;
          visibility: hidden;
          border-radius: 4px;
          padding: 2px;

          &[data-state='open'] {
            background-color: #f4f4f5;
            visibility: visible;
            background-color: var(--hover-background);
          }
        }

        p {
          font-size: 13px;
          font-weight: 500;
          color: var(--base-text-color);
        }

        p.date {
          font-size: 12px;
        }

        &:hover {
          background-color: var(--hover-background);

          .more-options {
            visibility: visible;

            &:hover {
              background-color: var(--hover-background);
            }
          }
        }
      }
    }
  }

  &-footer {
    width: 300px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1.5px solid var(--main-border);

    p.version {
      font-weight: 600;
      font-size: 14px;
      color: var(--base-text-color);
      margin-left: 12px;
    }

    .theme-toggle {
      padding: 2px 8px;
      border-radius: 4px;
      margin-right: 12px;
      background-color: var(--main-background);
      cursor: pointer;
      border: 1.5px solid var(--main-border);
      box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

      &:hover {
        background-color: var(--main-background);
      }

      p {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

[contenteditable] {
  outline: 0px solid transparent;
}

.PopoverContent {
  border-radius: 8px;
  padding: 6px;
  width: 250px;
  background-color: var(--panel-background);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  border: 1.5px solid var(--main-border);

  .hr-divider {
    margin-top: 4px;
  }

  .entry-details {
    padding: 5px 8px;

    p {
      font-size: 12px;
      margin: 2px 0;
      color: #71717a;
    }
  }

  .option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    padding: 5px 8px;
    cursor: pointer;
    overflow: hidden;

    &__disabled {
      cursor: auto !important;
      pointer-events: none;

      p {
        color: #71717a;
      }

      .option-icon {
        svg {
          path,
          line,
          polyline,
          rect {
            stroke: #71717a;
          }
        }
      }

      &:hover {
        background-color: white !important;
      }
    }

    &:hover {
      background-color: var(--hover-background);
    }

    &-icon {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    p {
      font-size: 15px;
    }
  }
}

.theme-menu {
  width: 180px;
}

.PopoverContent:focus {
  outline: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.PopoverContent[data-state='open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.PopoverContent[data-state='open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.PopoverContent[data-state='open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.PopoverContent[data-state='open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.PopoverArrow {
  fill: var(--panel-background);
}

.PopoverClose {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 5px;
  right: 5px;
}
.PopoverClose:hover {
  background-color: var(--violet-4);
}
.PopoverClose:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

ol[data-sonner-toaster='true'] {
  --width: 100px;
}

.delete-entry-content {
  .description {
    color: var(--subtitle-text-color);
  }

  .modal__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }

  button {
    border: 2px solid var(--main-border);
    padding: 0;
    height: 38px;
    font-weight: 500;
    border-radius: 6px;
    padding: 0 1.2em;
    font-size: 15px;
  }

  .delete-button {
    background-color: rgb(255, 229, 229);
    color: rgb(205, 43, 49);
    border-color: rgb(205, 43, 49);
  }
}

.delete-button {
  background-color: rgb(255, 229, 229);
  color: rgb(205, 43, 49);
  border-color: rgb(205, 43, 49);
}

.trash-page {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  outline: 1px solid;

  .entry {
    display: flex;
    flex: 1;
    outline: 1px solid;
    width: 100%;
    align-items: center;
    padding: 5px 0;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7eb;

    p {
      margin-right: auto;
    }

    button {
      margin-left: 5px;
    }
  }
}

.today-page {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--main-background);
  overflow: hidden;

  .notes {
    grid-column: span 2;
    background-color: var(--panel-background);
    border-radius: 8px;
    border: 1.5px solid var(--main-border);
  }

  .sider {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background);
    gap: 8px;

    .todos,
    .calendar {
      padding: 10px;
      flex: 1;
      background-color: var(--panel-background);
      border-radius: 8px;
      border: 1.5px solid var(--main-border);
    }

    .todos {
      padding-top: 40px;
    }

    .calendar {
      flex: 1;
    }
  }

  .daily-note {
    padding: 10px;

    .note {
      position: relative;

      .title {
        padding: 15px 10px;

        h3 {
          font-size: 27px;
          line-height: 28px;
          font-weight: 600;
          color: var(--base-text-color);
        }
      }
    }

    .daily-note-placeholder {
      padding: 0 10px;
      color: var(--subtitle-text-color);
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      top: 10px;
      font-size: 15px;
      user-select: none;
      display: inline-block;
      pointer-events: none;
      font-style: italic;
    }

    .editor-container {
      position: relative;
    }

    .note-editor-container {
      position: relative;
      overflow-y: scroll;
      height: calc(100vh - 200px);
    }

    .section-header {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: flex-end;
      padding: 8px;

      .active-date {
        margin-right: auto;
      }

      button {
        padding: 0;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: 100%;
        transition: all 0.3s ease;

        &.icon {
          border: 1px solid #dde2e6;
        }

        &:hover {
          background-color: #dde2e6;
        }
      }
    }
  }
}

.entry-header {
  * {
    // outline: 1px dotted red;
  }
  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;

    p {
      font-weight: 600;
      font-size: 16px;
    }
  }

  .value {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex: 1;

    p {
      color: var(--subtitle-text-color);
    }

    &.tags {
      p {
        text-transform: lowercase;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  input {
    padding: 0;
    border-radius: 0;
    color: var(--subtitle-text-color);
    font-weight: 600;
    background-color: var(--panel-background);
    font-size: 16px;
    width: 100%;

    &::placeholder {
      font-style: italic;
    }
  }

  .hr-divider {
    margin: 40px 0;
  }
}
