.modal__container {
  padding: 20px;
  min-height: 100px;
  min-width: 400px;
  display: flex;
  flex-grow: 0px;
  background-color: var(--panel-background);
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  .modal__title {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(40, 40, 40, 0.6);
  flex-grow: 0px;
  flex-shrink: 1px;
  z-index: 100;
  border-radius: 8px;
}
