.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  bottom: 0;
  width: 100%;

  &-content {
    padding: 0 12px;
    width: 100%;
  }

  &-header {
    height: 40px;
    width: 100%;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .window-actions {
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
      }

      &:hover {
        svg {
          visibility: visible;
          opacity: 1;
        }
      }

      .window-action {
        width: 14px;
        height: 14px;
        border-radius: 99px;
        line-height: unset;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease-out;
        color: black;

        &:first-child {
          background-color: #e5484d;
        }

        &:nth-child(2) {
          background-color: #ffca16;
        }

        &:last-child {
          background-color: #3dd68c;
        }
      }
    }
  }

  &-entries {
    width: 100%;
    padding: 10px;
    overflow: scroll;
    transition: $ease-out-200;
    border-top: 1.5px solid transparent;
  }

  .header-section {
    padding: 10px;
    background-color: var(--background-secondary);
    border-radius: 8px;
    transition: $ease-out-200;
  }

  .section {
    margin-top: 30px;
    width: 100%;

    .route {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in;
      padding: 4px 12px;
      border-radius: 8px;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
      }

      &-text {
        font-weight: 600;
        font-size: 15px;
        color: var(--base-text-color);
      }
    }

    .header {
      display: flex;
      align-items: center;
      padding: 8px 12px;

      p.title {
        font-size: 13px;
        font-weight: 600;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 2px;

        &:hover {
          background-color: #d4d4d4;
        }
      }
    }

    .entries {
      display: flex;
      flex-direction: column;
      width: 100%;

      ul,
      li {
        list-style: none;
        position: relative;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
      }

      .divider {
        height: 1px;
        background-color: var(--main-border);
      }

      .entry {
        transition: all 0.3sec ease;
        padding: 4px 12px;
        border-radius: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 8px;

        &:hover {
          .more-options {
            visibility: visible;

            &:hover {
              background-color: var(--hover-background);
            }
          }
        }

        &[data-state='open'] {
          background-color: var(--hover-background);
        }

        &.active-entry {
          background-color: var(--active-item-state);

          p {
            color: #030712;
          }

          &:hover {
            background-color: var(--hover-background);
            box-shadow: inset 0 0 2px 2px var(--hover-shadow);

            p {
              color: var(--base-text-color);
            }
          }
        }

        .icon {
          display: flex;
          align-items: center;
        }

        .more-options {
          margin-left: auto;
          visibility: hidden;
          border-radius: 4px;
          padding: 2px;

          &[data-state='open'] {
            background-color: #f4f4f5;
            visibility: visible;
            background-color: var(--hover-background);
          }
        }

        p {
          font-size: 13px;
          font-weight: 500;
          color: var(--base-text-color);
        }

        p.date {
          font-size: 12px;
        }
      }
    }
  }

  .folder {
    $striaghtLine: "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='28' fill='none'%3E%3Cpath fill='%23B5B5B5' d='M9 0h1.5v28H9z'/%3E%3C/svg%3E";
    $firstArrow: "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='28' fill='none'%3E%3Cpath fill='%23B5B5B5' d='M19 14.25h.75v1.5H19v-1.5Zm-8.923-.888.668-.34-.668.34Zm1.311 1.311.34-.668-.34.668ZM10.5 0v10.2H9V0h1.5Zm4.05 14.25H19v1.5h-4.45v-1.5ZM10.5 10.2c0 .853 0 1.447.038 1.91.037.453.107.714.207.912l-1.336.68c-.227-.444-.321-.924-.366-1.47C9 11.694 9 11.027 9 10.2h1.5Zm4.05 5.55c-.828 0-1.494 0-2.032-.043-.546-.045-1.026-.14-1.47-.366l.68-1.336c.198.1.459.17.913.207.462.037 1.056.038 1.909.038v1.5Zm-3.805-2.729c.216.424.56.768.984.984l-.681 1.336a3.75 3.75 0 0 1-1.64-1.638l1.337-.681Z'/%3E%3Cpath stroke='%23B5B5B5' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m17 12 3 3-3 3'/%3E%3C/svg%3E";
    $smallArrow: "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='28' fill='none'%3E%3Cpath fill='%23B5B5B5' d='M9 24.75a.75.75 0 0 1 1.5 0V28H9v-3.25Z'/%3E%3C/svg%3E";

    p {
      font-size: 12px;
    }

    .icon {
      width: 24px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-item {
      transition: all 0.3sec ease;
      padding: 0px 12px;
      border-radius: 0px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;
      border-radius: 8px;
      height: 30px;
      // background-color: var(--hover-background);
      margin-bottom: 2px;

      // &::before {
      //   width: 24px;
      //   height: 24px;
      //   content: '';
      //   content: url($smallArrow);
      //   filter: invert(1);
      // }
    }

    .folder-entries {
      display: none;
      // outline: 1px dotted;

      &__open {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding-left: 16px;
      }

      .entry {
        // outline: 1px dotted;
        transition: all 0.3sec ease;
        padding: 0px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 8px;
        align-self: stretch;
        background-origin: padding-box;
        box-sizing: border-box;
        height: 30px;

        &:hover {
          background-color: var(--hover-background);
          box-shadow: inset 0 0 0 1.5px var(--hover-shadow);
        }
      }
    }
  }

  &-footer {
    width: 100%;
    margin-top: auto;

    .usertile {
      padding: 12px;
      border-radius: 8px;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        box-shadow: var(--main-box-shadow), 0 0 0 1px var(--background-secondary);
        background-color: white;
      }

      .user {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;

        &-avatar {
          width: 28px;
          height: 28px;
          text-align: center;
          align-items: center;
          display: flex;
          justify-content: center;
          border-radius: 99px;
          background-color: var(--primary-color);
          color: white;
        }

        .user-info {
          font-size: 15px;
          line-height: 20px;

          .email {
            font-size: 14px;
            color: var(--darker-border);
          }
        }
      }
    }
  }
}

.PopoverContent {
  border-radius: 8px;
  padding: 6px;
  width: 250px;
  background-color: var(--panel-background);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  .hr-divider {
    margin-top: 4px;
  }

  .entry-details {
    padding: 5px 8px;

    p {
      font-size: 12px;
      margin: 2px 0;
      color: #71717a;
    }
  }

  .option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    padding: 5px 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: transparent;

    &:hover {
      background-color: var(--hover-background);
    }

    &__active {
      background-color: var(--primary-color);

      &:hover {
        background-color: var(--primary-color);
      }
    }

    &__disabled {
      cursor: auto !important;
      pointer-events: none;

      p {
        color: #71717a;
      }

      .option-icon {
        svg {
          path,
          line,
          polyline,
          rect {
            stroke: #71717a;
          }
        }
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    p {
      font-size: 15px;
    }
  }
}

.usertile-menu {
  width: 300px;
}

.sidebar-toggle {
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: #e7e5e4;
  }
}

.saving-indicator {
  width: 28px;
  height: 28px;
  background-color: #e7e5e4;
  margin-left: auto;
  margin-right: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  cursor: pointer;

  .loading-indicator {
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
