.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  bottom: 0;
  width: 100%;

  &-content {
    padding: 0 12px;
    width: 100%;
  }

  &-routes {
    padding-top: 20px;

    .route {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in;
      padding: 0px 8px;
      border-radius: 8px;
      gap: 12px;
      height: 30px;

      &:hover {
        .route-shortcut {
          visibility: visible;
          opacity: 1;
        }
      }

      &-shortcut {
        margin-left: auto;
        font-size: 13px;
        padding: 2px 4px;
        border-radius: var(--sm-radii);
        background-color: var(--hover-background);
        font-weight: 600;
        box-shadow: 0 0 0 1px var(--main-border);
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s eas;
        text-transform: uppercase;
        color: var(--text-primary);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-inner {
          color: var(--text-primary);
        }
      }

      &-text {
        font-weight: 600;
        font-size: 15px;
        color: var(--text-primary);
      }
    }
  }

  &-header {
    height: 40px;
    width: 100%;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .window-actions {
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
      }

      &:hover {
        svg {
          visibility: visible;
          opacity: 1;
        }
      }

      .window-action {
        width: 14px;
        height: 14px;
        border-radius: 99px;
        line-height: unset;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease-out;
        color: black;
        border: 1px solid;

        &:first-child {
          background-color: #f87171;
          border-color: #ef4444;
        }

        &:nth-child(2) {
          background-color: #ffca16;
          border-color: #f59e0b;
        }

        &:nth-child(3) {
          background-color: #3dd68c;
          border-color: #22c55e;
        }

        &:last-child {
          background-color: #60a5fa;
          border-color: #3b82f6;
        }
      }
    }
  }

  &-entries {
    width: 100%;
    overflow: scroll;
    border-top: 1.5px solid transparent;
    padding-bottom: 40px;
    mask-image: linear-gradient(to top, black calc(100% - 40px), transparent 100%);
  }

  &-folders {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    margin-top: 20px;
    overflow-y: scroll;

    .sidebar-folder {
      width: 100%;

      .folder {
        display: flex;
        padding: 6px;
        border-radius: 6px;
        align-items: center;
        cursor: pointer;
        user-select: none;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
          background-color: var(--hover-background);

          .folder-action {
            opacity: 1;
            visibility: visible;
          }
        }

        .folder-name-input {
          box-shadow: 0 0 0 1.5px var(--primary-color);
          width: 100%;
          border: 0;
          border-radius: var(--md-radii);

          font-weight: 600;
          padding: 3px 2px;
          font-size: 14px;
          color: var(--text-primary);
          height: 100%;
          background-color: var(--main-background);

          &:focus {
            background-color: red;
          }
        }

        &-icon {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--text-primary);
          transition: all 0.3s ease;

          &_open {
            transform: rotate(90deg);
          }
        }

        p {
          font-weight: 600;
          font-size: 14px;
          color: var(--text-primary);
        }

        &-action {
          all: unset;
          margin-left: auto;
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: var(--md-radii);
          color: var(--text-primary);
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.2s ease;
          transform: translateY(-1px);

          &:hover {
            background-color: var(--active-background);
            box-shadow: 0 0 0 1.5px var(--darker-border);
          }
        }
      }

      ul {
        list-style: none;
        padding-inline-start: 20px;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;

        &.open_folder {
          max-height: auto;
        }

        &::before {
          position: absolute;
          width: 1.5px;
          height: 100%;
          background-color: var(--main-border);
          margin-left: -2px;
          content: '';
        }

        .active-entry {
          position: relative;

          &::before {
            position: absolute;
            width: 1.5px;
            height: 100%;
            background-color: var(--primary-color);
            content: '';
            left: 0;
            margin-left: -2px;
          }
        }
      }
    }
  }

  .section {
    margin-top: 30px;
    width: 100%;
    padding: 10px;

    .header {
      display: flex;
      align-items: center;
      padding: 8px 12px;

      p.title {
        font-weight: 600;
        font-size: 14px;
        color: var(--text-primary);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 2px;

        &:hover {
          background-color: #d4d4d4;
        }
      }
    }

    .entries {
      display: flex;
      flex-direction: column;
      gap: 3px;
      width: 100%;

      ul,
      li {
        all: unset;
      }

      .divider {
        height: 1px;
        background-color: var(--main-border);
      }
    }
  }
}

.popover-content {
  border-radius: 8px;
  min-width: 250px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  .hr-divider {
    margin-top: 4px;
  }

  .entry-details {
    padding: 5px 8px;

    p {
      font-size: 12px;
      margin: 2px 0;
      color: #71717a;
    }
  }

  .option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    padding: 5px 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    color: var(--text-primary);

    &:hover {
      background-color: var(--hover-background);
      box-shadow: 0 0 0 1px var(--main-border);
    }

    &__active {
      background-color: var(--primary-color);

      &:hover {
        background-color: var(--primary-color);
      }
    }

    &__disabled {
      cursor: auto !important;
      pointer-events: none;

      p {
        color: var(--text-tertiary);
      }

      .option-icon {
        svg {
          path,
          line,
          polyline,
          rect {
            stroke: var(--text-tertiary);
          }
        }
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    p {
      font-size: 15px;
    }
  }
}

// TODO: Remove this if user accounts won't exist
.usertile-menu {
  width: 300px;
}

.sidebar-toggle {
  all: unset;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  color: var(--text-primary);

  &:hover {
    background-color: var(--active-background);
    box-shadow: 0 0 0 1px var(--darker-border);
  }
}

.folder-menu {
  width: 300px;
  height: 350px;

  .search-input {
    padding: 8px;
    input {
      border: 0;
      width: 100%;
      font-size: 14px;
      border: 1px solid var(--main-border);
      padding: 5px 4px;
      border-radius: 4px;
      line-height: 1;
    }
  }

  ul {
    list-style-type: none;
    padding-top: 10px;
    margin-block-start: 0px;
    margin-block-end: 0;
    padding-inline-start: 0px;

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      font-size: 15px;
      width: 100%;
      text-align: center;
      padding: 4px 0;
    }

    li {
      margin-top: 4px;
      font-size: 15px;
      border: 1px solid transparent;
      border-left: 0;
      border-right: 0;
      padding: 4px 10px;

      &:hover {
        border-color: var(--main-border);
      }

      &.folder-empty {
        margin: 20px 0;
        color: var(--text-secondary);
        text-align: center;

        &:hover {
          background-color: transparent;
          border-color: transparent;
        }
      }
    }
  }
}

// single entry default styling
.entry {
  transition: all 0.3s ease;
  padding: 3px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;

  &[data-state='open'] {
    background-color: var(--hover-background);
  }

  &.active-entry {
    p {
      color: var(--primary-color);
    }
  }

  .icon {
    display: flex;
    align-items: center;
  }

  .more-options {
    margin-left: auto;
    visibility: hidden;
    border-radius: 4px;
    padding: 2px;
    white-space: nowrap;

    &[data-state='open'] {
      background-color: #f4f4f5;
      visibility: visible;
      background-color: var(--hover-background);
      box-shadow: 0 0 0 1px var(--main-border);
    }
  }

  p {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 14px;
    font-weight: 500;
    color: var(--text-primary);
  }

  p.date {
    font-size: 12px;
  }
}
