.datepicker {
  padding: 20px 15px;
  overflow: hidden;
  background-color: var(--panel-background);
  border-radius: 8px;
  box-shadow: var(--main-box-shadow);

  &-header {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    gap: 5px;

    h2 {
      margin-right: auto;
      font-weight: 550;
      font-size: 1.1rem;
    }

    button {
      all: unset;
      cursor: pointer;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--background-secondary);
      border-radius: 99999px;
      border: 1px solid var(--background-secondary);

      &:hover {
        background-color: var(--hover-background);
        border-color: var(--main-border);
      }
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 10px;
  }

  thead {
    th {
      height: 44px;
      font-weight: 400;
      font-family: var(--geist-font);
      color: var(--subtitle-text-color);
    }
  }

  tbody {
    td {
      height: 54px;
      width: 44px;

      .cell {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &[hidden] {
          display: none;
        }

        &.today {
          .date {
            // border: 2px solid var(--primary-color);
            color: var(--primary-color);
          }
        }
        &.selected {
          .date {
            background-color: var(--primary-color);
            color: white;
          }
        }

        .date {
          width: 32px;
          height: 32px;
          border-radius: 9999px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: auto;
          font-family: var(--geist-font);
        }

        .dot-indicator {
          width: 5px;
          height: 5px;
          background-color: var(--main-border);
          margin-top: auto;
          border-radius: 99999px;
        }
      }
    }
  }
}
