.datepicker {
  padding: 20px 10px;
  border-radius: 8px;

  font-family: var(--current-font);
  font-weight: 450;

  --cell-width: 30px;
  --cell-height: 30px;

  * {
    // outline: 1px dotted red;
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    padding-bottom: 20px;
    gap: 10px;
    h2 {
      font-weight: 550;
      font-size: 1.1rem;
      margin-right: auto;
    }

    button {
      all: unset;
      cursor: pointer;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 99999px;
      background-color: var(--main-background);

      &:hover {
        background-color: var(--hover-background);
        border-color: var(--main-border);
      }
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 10px;
  }

  thead {
    th {
      height: var(--cell-height);
      font-weight: inherit;
      color: var(--subtitle-text-color);
    }
  }

  tbody {
    td {
      &:last-child {
        border-right: none;
      }

      &:first-child {
        border-left: none;
      }

      .cell {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &:focus {
          outline: none;

          .date {
            outline: 1.5px solid var(--primary-color);
            outline-offset: 2px;
          }
        }

        &:hover {
          .date {
            outline: 1.5px solid var(--primary-color);
            outline-offset: 2px;
          }
        }

        &[hidden] {
          display: none;
        }

        &.today {
          .date {
            color: var(--primary-color);
          }
        }

        &.selected {
          .date {
            background-color: var(--primary-color);
            color: white;
          }
        }

        &.outsideVisibleRange {
          pointer-events: none;

          .date {
            color: var(--text-tertiary);
          }
        }

        .date {
          width: var(--cell-width);
          height: var(--cell-height);
          border-radius: 99999px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          font-variant-numeric: tabular-nums;
        }

        .dot-indicator {
          color: var(--text-tertiary);
          line-height: 1;
          margin-top: 2px;
        }
      }
    }
  }
}
