.tooltip-trigger {
  all: unset;
}

.tooltip-container {
  font-size: 13px;
  font-weight: 600;
  background-color: var(--panel-background);
  padding: 4px 6px;
  border-radius: var(--md-radii);
  box-sizing: border-box;
  max-width: 250px;
  color: var(--text-primary);
  box-shadow: var(--main-box-shadow);

  .tooltip-content {
    display: flex;
    align-items: center;

    .tooltip-shortcuts {
      margin-left: 6px;
      display: flex;
      gap: 3px;

      span {
        width: 18px;
        font-size: 12px;

        // TODO: fix this styling
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
          #d6d6e7 0 -3px 0 inset;
        text-align: center;
        border-radius: var(--sm-radii);
      }
    }
  }
}

.arrow {
  position: absolute;
  fill: var(--panel-background);
  stroke: var(--main-border);
  stroke-width: 1px;
  width: 12px;
  height: 12px;
}

.arrow[data-placement='top'] {
  top: 100%;
  transform: translateX(-50%);
}

.arrow[data-placement='bottom'] {
  bottom: 100%;
  transform: translateX(-50%) rotate(180deg);
}

.arrow[data-placement='left'] {
  left: 100%;
  transform: translateY(-50%) rotate(-90deg);
}

.arrow[data-placement='right'] {
  right: 100%;
  transform: translateY(-50%) rotate(90deg);
}
