@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.draggable-block-menu {
  border-radius: 4px;
  padding: 2px 1px;
  cursor: grab;
  opacity: 1;
  position: absolute;
  left: 10px;
  top: 0;
  /* will-change: transform; */
}

.draggable-block-menu:active {
  cursor: grabbing;
}

.draggable-block-menu:hover {
  /* background-color: #efefef; */
}
